div{
    width: 222px;
    height: 222px;
    margin: 20px auto;
    animation: 3s infinite gravity;
    animation-direction: alternate;
    transition-timing-function: ease-in;
}

div img{
    height: 100%;
    width: 100%;
    border-radius: 40%;
    animation: 3s rotate;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    transition-timing-function: ease-in;

}

@keyframes gravity{

    100%{
        transform: translateY(570px);
    }
}

@keyframes rotate{
    to{
        transform: rotate(360deg);

    }
}