div{
    height: 100px;
    width: 100px;
    background-color: red;
    border: 5px solid black;

}

div:hover{
    border-radius: 60%;
    background-color: green;
}
input:active{
    background-color: lightblue;
}
input:focus{
    background-color: yellow;
}

ul a:visited{
    color: red;
}
ol li:first-child{
    color: red;
}
ol li:nth-of-type(2){
    color: rgb(162, 137, 101);
    text-decoration: line-through;
}
ol li:last-child{
    font-style: bold;
    color: green;
}
ol li:nth-of-type(even){
    font-weight: bold;
    text-decoration: dotted;
    color: aqua;
}
ol li:nth-of-type(odd){
    background-color: palegoldenrod;
}