section{
    width: 1000px;
    margin:50px auto;
    border: 2px solid black;
    overflow:hidden;
}
div{
    border: 4px solid black;
    background: aqua;
    margin: 10px;
    height: 100px;
    width: 100px;
    transition: all 4s 1s;
}
section:hover div{
    margin-left: 1000px;
    cursor: pointer;
    
}
div:nth-last-of-type(4){
    transition-timing-function: ease-in;
}
div:nth-last-of-type(2){
    transition-timing-function: ease-out;
}div:nth-last-of-type(3){
    transition-timing-function: cubic-bezier(0.2 1 -0.5);
}