section{
    width: 80vw;
    margin: 30px auto;
    border: 2px solid aqua;
    background-color: palevioletred;
    overflow: hidden;
}
div{
    height: 30px;
    width: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: aqua;
    margin: 15px;

    animation: 5s progress;
    animation-iteration-count: 10;
    animation-play-state: running;
    animation-direction: alternate-reverse;
}

@keyframes progress{

    from{
        width: 20px;
    }
    to{
        width: 100%;
    }
}
div:nth-of-type(1){
    animation-timing-function: ease-in;
}
div:nth-of-type(2){
    animation-timing-function:ease-out;
}
div:nth-of-type(3){
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
div:nth-of-type(4){
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
div:nth-of-type(5){
    animation-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
}
